*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files 
*.jar
*.war
*.ear
server/
build/
OpenGTS/server/
OpenGTS/build/

OpenGTS/src/org/opengts/CompileTime.java
OpenGTS/.externalToolBuilders/OpenGTS_Builder.launch
